* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* $grad-fondo-1: rgba(2,0,36,1);
$grad-fondo-2: rgba(9,9,121,1);
$grad-fondo-3: rgba(56,110,184,1) ;
$grad-fondo-4: rgba(97,52,159,1); */
:root {
  font-size: 16px;
}

p {
  font-family: "Jost", sans-serif;
  color: aliceblue;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin-left: 8rem;
}

@media (max-width: 600px) {
  main {
    margin-left: 0rem;
  }
}
h1 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Jost", sans-serif;
}

/*fondo*/
body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, rgb(2, 0, 36) 0%, rgb(25, 25, 133) 22%, rgb(118, 175, 255) 68%, rgb(155, 83, 255) 100%);
  background-size: 300% 300%;
  animation: gradiente_anim 12s ease-in-out infinite;
}

/*navbar*/
.nav-item {
  width: 100%;
}
.nav-item:last-child {
  margin-top: auto;
}

.logo {
  margin-top: 2vh;
  transform: scale(0.5);
  transition: 600ms ease;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 2rem;
  color: rgb(255, 255, 255);
  font-family: "Jost", sans-serif;
  opacity: 0.4;
  transition: opacity 1s ease-out;
  justify-content: space-around;
}
.nav-link:hover {
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.flecha {
  transform: rotate(0deg);
  transition: 600ms ease;
}

.navbar {
  position: fixed;
  text-decoration: none;
  transition: width 600ms ease;
  background-color: rgba(0, 0, 0, 0.253);
  backdrop-filter: blur(4px);
}
.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*   height: 95%; */
}

@media (min-width: 600px) {
  .nav-link {
    margin-top: 4vh;
  }
  .navbar {
    top: 0;
    width: 8rem;
    height: 100%;
  }
  .navbar:hover {
    width: 15rem;
  }
  .navbar:hover .link-text {
    display: block;
  }
  .navbar:hover .flecha {
    opacity: 1;
    transform: rotate(180deg);
  }
  .navbar:hover .logo {
    transform: scale(1);
  }
}
@media (max-width: 600px) {
  .navbar {
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 4rem;
    /*      .flecha{
             display: none;
         } */
  }
  .navbar .logo {
    display: none;
  }
  .navbar-nav {
    flex-direction: row;
    padding-bottom: 50px;
  }
}
@keyframes gradiente_anim {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
/* 
.wrapper{
    display: flex;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
    .titulo-estatico{
        color: aliceblue;
    }
    .titulo-dinamico{
        color: aqua;
        li span{
            position: relative;
            &::after{
                content: "";
                position: absolute;
                left: 0;
                height: 100%;
                width: 100%;
                border-left: 2px solid aqua;
                animation: escribir 2s steps(8) infinite;
                background: #00000020;
            }
        }
    }
}
@keyframes escribir{
    100%{
        left: 100%;
    }
} */
@font-face {
  font-family: "bold";
  src: url(../fuente/bold.otf);
}
text {
  font-family: "Nunito Sans", sans-serif;
  scale: 60% 100%;
}

video {
  -webkit-clip-path: url(#clip);
  clip-path: url(#clip);
  width: 100%;
  position: relative;
  z-index: -1;
}

.titulo {
  height: 100px;
  overflow: hidden;
  scale: 1;
}

.titulo-animado {
  animation: titulo1 10s ease-in-out 1;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}

/* 
.wrapper{

    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;

    height: 7rem;

    .titulo-estatico{
        color: rgb(255, 255, 255);
        font-size: 7rem;
    }
    .titulo-dinamico{
        white-space: nowrap;
        color: rgb(255, 255, 255);
        animation: titulo1 10s ease-in-out 1;
        animation-fill-mode: forwards;
        animation-delay: 0s;
        font-size: 7rem;

    }
}*/
@keyframes titulo1 {
  0% {
    transform: translate(0px, 0px);
  }
  20% {
    transform: translate(0px, -0.2px);
  }
  40% {
    transform: translate(0px, -0.4px);
  }
  60% {
    transform: translate(0px, -0.6px);
  }
  80% {
    transform: translate(0px, -0.8px);
  }
  100% {
    transform: translate(0px, -1px);
  }
}
.flex_noticias {
  display: flex;
  justify-content: center;
}

.noticias {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(2, 150px);
  grid-gap: 0px;
  background-color: rgba(0, 0, 0, 0.253);
  border-radius: 25px;
  overflow: scroll;
}

@media (max-width: 600px) {
  .noticias {
    height: 40vh;
  }
  .noticias p {
    word-wrap: break-word;
  }
  .noticias img {
    height: 12vh;
    border-radius: 25px;
  }
  .card img {
    height: 20vh;
  }
}
.carrusel_contenedor {
  margin-top: 5vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.253);
}

.carrusel {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: smooth;
  gap: 10rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
.carrusel::-webkit-scrollbar {
  display: none;
}
.carrusel img {
  scale: 0.5;
}

.card {
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrafo_index {
  margin-top: 5vh;
  background-color: rgba(0, 0, 0, 0.253);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
}
.parrafo_index p {
  padding: 10px;
}

.centrado {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
}
.centrado .que-es-col {
  width: 80vw;
  background-color: rgba(0, 0, 0, 0.253);
  backdrop-filter: blur(9px);
  border-radius: 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas: "p p p" "p p p" "img p p";
}
.centrado .que-es-col p {
  padding: 10px;
  font-size: 1rem;
  font-family: "Jost", sans-serif;
  color: rgb(255, 255, 255);
  grid-area: p;
}
.centrado .que-es-col img {
  grid-area: img;
  padding: 10px;
  height: 15vh;
  width: fit-content;
  border-radius: 10%;
}

/* .centrado {
    display: flex;
    justify-content: center;
    padding-top: 5vh;

    .que-es-col {
        width: 80vw;
        background-color: $gris-blur;
        backdrop-filter: blur(9px);
        border-radius: 5%;
        display: grid;
        grid-template-columns: repeat(5, 65px);
        grid-template-rows: repeat(5, 60px);

        p {

            padding: 10px;
            font-size: 1rem;
            font-family: 'Jost', sans-serif;
            color: rgb(255, 255, 255);

            &.superior1 {

                grid-row: 1/3;
                grid-column: 1/5;
            }

            &.inferior1 {
                grid-row: 4/6;
                grid-column: 4 /6;
            }
        }

        img {
            grid-row: 4/5;
            grid-column: 1/2;
            padding: 10px;
            height: 15vh;
            width: fit-content;
            border-radius: 10%;

        }
    }

}  */
.container_teams {
  display: flex;
  margin-left: 10%;
  width: 80%;
  box-sizing: border-box;
  height: 30vh;
  background-color: rgba(0, 0, 0, 0.253);
  margin-bottom: 10px;
  border-radius: 25px;
}

.image_box {
  flex: 1;
  overflow: hidden;
  transition: 0.5s;
  margin: 0.5%;
  height: 20rem;
}
.image_box img {
  width: 100%;
  height: calc(100% - 10vh);
  object-fit: cover;
  transition: 1.5s;
}
.image_box img:nth-child(odd) {
  border-radius: 50px;
}
.image_box:hover {
  flex: 1 1 50%;
  width: 100%;
}

.descripcion_equipo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

/* .container_teams {
    display: flex;
    width: auto;
    box-sizing: border-box;
}

.image_box {
    flex: 1;
    overflow: hidden;
    transition: flex 0.5s, width 0.5s;
    margin: 0.5%;
    height: 100px;


    img {
        width: 100%;
        object-fit: cover;
        transition: width 1.5s;
    }

    &:hover {
        flex: 1 1 50%;
        width: 200%;
    }
} */
body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}
body::-webkit-scrollbar-thumb {
  background: rgb(0, 43, 92);
}

/*# sourceMappingURL=styles2.css.map */
