* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* $grad-fondo-1: rgba(2,0,36,1);
$grad-fondo-2: rgba(9,9,121,1);
$grad-fondo-3: rgba(56,110,184,1) ;
$grad-fondo-4: rgba(97,52,159,1); */
:root {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin-left: 8rem;
}

@media (max-width: 600px) {
  main {
    margin-left: 0rem;
  }
}
h1 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Jost", sans-serif;
}

/*navbar*/
.nav-item {
  width: 100%;
}
.nav-item:last-child {
  margin-top: auto;
}

.logo {
  margin-top: 2vh;
  transform: scale(0.5);
  transition: 600ms ease;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 2rem;
  color: rgb(255, 255, 255);
  font-family: "Jost", sans-serif;
  opacity: 0.4;
  transition: opacity 1s ease-out;
  justify-content: space-around;
}
.nav-link:hover {
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.flecha {
  transform: rotate(0deg);
  transition: 600ms ease;
}

.navbar {
  position: fixed;
  text-decoration: none;
  transition: width 600ms ease;
  background-color: rgba(0, 0, 0, 0.253);
  backdrop-filter: blur(4px);
}
.navbar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*   height: 95%; */
}

@media (min-width: 600px) {
  .nav-link {
    margin-top: 4vh;
  }
  .navbar {
    top: 0;
    width: 8rem;
    height: 100%;
  }
  .navbar:hover {
    width: 15rem;
  }
  .navbar:hover .link-text {
    display: block;
  }
  .navbar:hover .flecha {
    opacity: 1;
    transform: rotate(180deg);
  }
  .navbar:hover .logo {
    transform: scale(1);
  }
}
@media (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100%;
    height: 4rem;
    /*      .flecha{
             display: none;
         } */
  }
  .navbar .logo {
    display: none;
  }
  .navbar-nav {
    flex-direction: row;
    padding-bottom: 50px;
  }
}
body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, rgb(2, 0, 36) 0%, rgb(25, 25, 133) 22%, rgb(118, 175, 255) 68%, rgb(155, 83, 255) 100%);
  background-size: 300% 300%;
  animation: gradiente_anim 12s ease-in-out infinite;
}

@keyframes gradiente_anim {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
/* 
.wrapper{
    display: flex;
    justify-content: center;

    font-family: 'Montserrat', sans-serif;
    .titulo-estatico{
        color: aliceblue;
    }
    .titulo-dinamico{
        color: aqua;
        li span{
            position: relative;
            &::after{
                content: "";
                position: absolute;
                left: 0;
                height: 100%;
                width: 100%;
                border-left: 2px solid aqua;
                animation: escribir 2s steps(8) infinite;
                background: #00000020;
            }
        }
    }
}
@keyframes escribir{
    100%{
        left: 100%;
    }
} */
.wrapper {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  height: 7vw;
  overflow: hidden;
}
.wrapper .titulo-estatico {
  color: aliceblue;
  font-size: 7vw;
}
.wrapper .titulo-dinamico {
  white-space: nowrap;
  color: aqua;
  animation: titulo1 10s ease-in-out 1;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  font-size: 7vw;
}

@keyframes titulo1 {
  0% {
    transform: translate(0px, 0vw);
  }
  20% {
    transform: translate(0px, -7vw);
  }
  40% {
    transform: translate(0px, -14vw);
  }
  60% {
    transform: translate(0px, -21vw);
  }
  80% {
    transform: translate(0px, -28vw);
  }
  100% {
    transform: translate(0px, -35vw);
  }
}
body::-webkit-scrollbar {
  width: 1rem;
}
body::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}
body::-webkit-scrollbar-thumb {
  background: rgb(0, 43, 92);
}

/*# sourceMappingURL=styles2.css.map */
